header {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding: 20px;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

.header-text {
  position: absolute;
  text-align: left;
  margin-left: 110px;
  margin-top: 10px;
}

.Title {
  font-size: 24px;
  font-weight: bold;
}

.tagline {
  font-size: 16px;
  color: gray;
}

.navbar ul{
  list-style-type: none;
  background-color: lightgray;
  padding: 2px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

.navbar a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: white;
}

.navbar{
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar li {
  margin-right: 100px; 
}

.main{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.liampic{
  width: 420px;
  height: 400px;
  margin-top: 10px;
  display: flex;
  margin-right: 20px;
}