@import url(normalize.css);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.wrapper {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paragraph {
  margin: 20;
  padding: 5px;
}

.phone {
  margin: 20;
  padding: 5px;
}

.address {
  margin: 10;
  padding: -2px;
}

footer {
  margin: 20;
  padding: 5px;
}

main > img {
  margin: 10;
  padding: 10px;
}